### Integers

In [1]:
#define
integer1 = 5
integer2 = -2

In [2]:
#multiply
integer1 * integer2

-10

In [3]:
#checking type
type(integer1)

int

### Float

In [4]:
#define
float1 = 8.3
float2 = -53.2

In [5]:
#subtract
float1 - float2

61.5

In [6]:
#re-define
float2 = 9.35

In [7]:
#add to test new value
float1 + float2

17.65

In [8]:
#check type
type(float1)

float

In [9]:
#add variables of type 'float' and 'int'
float1 + integer2

6.300000000000001

### Strings

In [10]:
#define
string1 = "DevSummit 2019"
string2 = "Python for Geographer"

In [11]:
#print statement
string2
print(string1)

DevSummit 2019

In [12]:
#slicing a string
new = string1[10:]
new

'2019'

In [13]:
#changing type of variable 'new'
new = int(new)
new

2019

In [14]:
#verifying type change
type(new)

int

### Boolean

In [15]:
status = True

In [16]:
if status:
    status = False
else:
    print('Nothing has changed')
print(status)

False

### List

In [17]:
#define
list1 = ['Python', 3.7, '2019', 'GIS']

In [18]:
list1[0]

'Python'

In [19]:
#accessing list elements by id
for l in range(len(list1)):
    print(list1[l])

Python
3.7
2019
GIS

In [ ]:
#list slicing
list1[1:3]

In [20]:
#deleting list element
del list1[2]
list1

['Python', 3.7, 'GIS']

In [21]:
#adding element to list
list1.append(2019)
list1

['Python', 3.7, 'GIS', 2019]

### Tuple

In [22]:
#define
tuple1 = ('a', 'b', 3, 4.2)
coordinates = (-116.5453, 33.8303)

In [23]:
#attempting to delete tuple element
del tuple1[2]

TypeError: 'tuple' object doesn't support item deletion

In [24]:
try:
    del tuple1[2]
except TypeError:
    print('Deleting a tuple element is not supported')

Deleting a tuple element is not supported

In [25]:
#accessing tuple element by id
coordinates[1]

33.8303

### Dictionary

In [26]:
#define
dict1 = {"session":"Python for Geographers", "start-time": 10.30, "end-time": 11.30}

In [27]:
#accessing dictionary element using dictionary key
dict1["session"]

'Python for Geographers'

In [28]:
#adding element to dictionary as key-value pair
dict1["speaker"] = "Manushi Majumdar"

In [29]:
#verify
dict1

{'session': 'Python for Geographers',
 'start-time': 10.3,
 'end-time': 11.3,
 'speaker': 'Manushi Majumdar'}

### Methods

In [30]:
#Define a method
def square(x):
    '''Squares a number'''
    return print(x**2)

In [31]:
#Call it
numbers = [2, 3, 7]
for number in numbers:
    square(number)

4
9
49

### Pandas

In [32]:
#import package as alias
import pandas as pd

In [33]:
#Read a csv file in a dataframe (table)
dataframe = pd.read_csv('test.csv')

In [34]:
#get count of (rows,columns)
dataframe.shape

(26, 50)

In [36]:
#Print first 5 rows of dataframe
dataframe.head()

,Unnamed: 0,X,Y,OBJECTID,CRIMEID,CCN,REPORTDATE,ROUTEID,MEASURE,OFFSET,...,BICYCLISTSIMPAIRED,DRIVERSIMPAIRED,TOTAL_TAXIS,TOTAL_GOVERNMENT,SPEEDING_INVOLVED,NEARESTINTROUTEID,NEARESTINTSTREETNAME,OFFINTERSECTION,INTAPPROACHDIRECTION,LOCERROR
0,1681,-77.018928,38.908945,18337391,27311813,17082537,2017-05-17T17:57:03.000Z,11000502.0,1569.110,62.0,...,0,0,0.0,0.0,0.0,11065842,O ST NW,44.506757,North,NaN
1,6133,-77.025986,38.903585,18340843,27009019,16120256,2016-07-21T03:08:39.000Z,11001002.0,1276.198,0.0,...,0,0,0.0,0.0,0.0,11059602,MASSACHUSETTS AVE NW,0.056035,North,NaN
2,6482,-77.025996,38.894393,18341192,26920851,16063784,2016-04-24T00:52:22.000Z,11001002.0,255.727,0.0,...,0,0,0.0,0.0,0.0,11069812,PENNSYLVANIA AVE NW,6.783323,South,NaN
3,8498,-77.029716,38.932247,18343208,27204994,17018405,2017-02-02T02:20:56.000Z,11001302.0,3963.314,0.0,...,0,0,0.0,0.0,0.0,11061422,MONROE ST NW,14.092028,South,NaN
4,9477,-77.031961,38.900480,18344187,27331959,17096199,2017-06-07T02:17:57.000Z,11001402.0,1215.136,0.0,...,0,0,0.0,0.0,0.0,11042442,H ST NW,28.941451,North,NaN
5,10002,-77.031954,38.918543,18344712,27048954,16145775,2016-08-30T01:11:01.000Z,11001402.0,3142.793,0.0,...,0,0,0.0,0.0,0.0,11088462,V ST NW,49.940199,North,NaN
6,11262,-77.031953,38.916807,18345972,27264473,17052722,2017-04-01T08:07:57.000Z,11001402.0,2950.159,0.0,...,0,0,0.0,0.0,0.0,11087232,U ST NW,22.284222,South,NaN